/* dm-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/dm-sans-v15-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
/* dm-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/dm-sans-v15-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* mulish-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/mulish-v13-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

nav.my_navbar {
    font-family: "DM Sans";
    font-weight: 700;
}

.started_orange {
    background-color: #FF7143;
    padding: 12px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.started_orange:hover {
    background-color: #eb8360;
}

.my_navbar .active {
    border-bottom: #5454D4 solid 3px;
}

/* --------------- Home Page Start --------------- */
.started_blue {
    background-color: #5454D4;
    padding: 15px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.started_blue:hover {
    background-color: #5858ff;
}

.home_title {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 60px;
}

.d_text {
    font-family: "Mulish";
    font-weight: 400;
    font-size: 20px;
    color: #696871;
}
/* --------------- Home Page End --------------- */


/* --------------- Subscribtion Page Begin --------------- */

.d_title {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 45px;
}

.learn {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 17px;
    color: #5454D4;
    text-decoration: none;
}
.learn:hover {
    color: #6d6df7;
}

/* --------------- Subscribtion Page End --------------- */



/* --------------- Benchmarks Page Begin --------------- */
.d_title_2 {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 24px;
}

.d_text_2 {
    font-family: "Mulish";
    font-weight: 400;
    font-size: 16px;
    color: #696871;
}
/* --------------- Benchmarks Page End --------------- */


/* --------------- Price Page Begin --------------- */
.price_header {
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 65px;
}
.btns {
    background: #F7F6FB;
    padding: 6px;
    border-radius: 10px;
}

.price_btn {
    background: #F7F7FB;
    padding: 16px 54px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    border: none;
}

.btns .active {
    background: #5454D4;
    color: #fff;
}

.my_card {
    background: #F8F8F8;
    padding: 32px 20px;
    border-radius: 10px;
    width: 380px;
}
.card_text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    color: #696871;
    margin: 0;
}

.card_price {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 60px;
}

.card_ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.d_card_btn {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    color: #5454D4;
    background: #FFFFFF;
    padding: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    transition: 0.5s;
}

.d_card_btn:hover {
    background: #5454D4;
    color: #FFFFFF;
}

.premium_card {
    background: #FF7143;
    color: white;
    width: 400px;
}

.premium_card .card_text, .premium_card .card_ul .card_text {
    color: #fff;
}

.premium_card .d_card_btn {
    background: #9F3919;
    border: none;
    color: #fff;
}
.premium_card .d_card_btn:hover {
    background: #70230b;
}

.card_date {
    font-size: 28px;
}

.hide {
    display: none;
}

/* --------------- Price Page End --------------- */

